<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Title</h1>
    <div class="container">
        <div class="card">
            <h2>One Piece</h2>
            <p>A show about pirates</p>
            <div class="ratings">
                <span>3/5</span>
                <span>5/5</span>
            </div>
        </div>
        <div class="card">
            <h2>Gladiator</h2>
            <p>Show about g</p>
            <div class="ratings">
                <span>3/5</span>
                <span>5/5</span>
            </div>
        </div>
        <div class="card">
            <h2>One Punch Man</h2>
            <p>Show about a man beating everything in one punch</p>
            <div class="ratings">
                <span>3/5</span>
                <span>5/5</span>
            </div>
        </div>
        <div class="card">
            <h2>Gladiator</h2>
            <p>Show about g</p>
            <div class="ratings">
                <span>5/5</span>
                <span>5/5</span>
            </div>
        </div>
        <div class="card">
            <h2>Gladiator</h2>
            <p>Show about g</p>
            <div class="ratings">
                <span>3/5</span>
                <span>3/5</span>
            </div>
        </div>
        <div class="card">
            <h2>Breaking Bad</h2>
            <p>Show about crime</p>
            <div class="ratings">
                <span>5/5</span>
                <span>5/5</span>
            </div>
        </div>
        <div class="card">
            <h2>Gladiator</h2>
            <p>Show about g</p>
            <div class="ratings">
                <span>3/5</span>
                <span>5/5</span>
            </div>
        </div>
        <div class="card">
            <h2>Gladiator</h2>
            <p>Show about g</p>
            <div class="ratings">
                <span>3/5</span>
                <span>5/5</span>
            </div>
        </div>
        <div class="card">
            <h2>Gladiator</h2>
            <p>Show about g</p>
            <div class="ratings">
                <span>3/5</span>
                <span>5/5</span>
            </div>
        </div>
        <div class="card">
            <h2>Gladiator</h2>
            <p>Show about g</p>
            <div class="ratings">
                <span>3/5</span>
                <span>5/5</span>
            </div>
        </div>
    </div>
</body>
</html>